<section class="landing-page">
 <div class="container welcome d-flex-col">
  <h1 id="app-title"> Budget ME APP</h1>
    <div class="links d-flex-col">     
       <button class="sign-in-btn"><%= link_to "LOG IN", new_user_session_path %></button>
       <button class="sign-up-btn"><%= link_to "SIGN UP", new_user_registration_path %></button>
    </div>
 </div
</section>